<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Groups</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <a href="/admin/groups-create" class="btn btn-sm btn-outline-secondary">Add Group</a>
    </div>
  </div>
</div>
<div>
  <table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Group Tile</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each groups}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td><a href='/admin/groups/{{this.id}}'>Members</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>